
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Filter by title" onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">

          <ul class="nav level1">
                <li>
                    <a href="brg-terrain-registerer.html" name="" title="BRG Terrain Registerer">BRG Terrain Registerer</a>
                </li>
                <li>
                    <a href="brg-gameobject-group.html" name="" title="BRG GameObject Group">BRG GameObject Group</a>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="brg-prototype-extra-data.html" name="" title="BRG Prototype Extra Data">BRG Prototype Extra Data</a>

                    <ul class="nav level2">
                          <li>
                              <a href="brg-prototype-extra-data-shadow.html" name="" title="Shadow Optimizations">Shadow Optimizations</a>
                          </li>
                          <li>
                              <a href="brg-prototype-extra-data-lod.html" name="" title="Screen Size / LOD Overrides">Screen Size / LOD Overrides</a>
                          </li>
                          <li>
                              <a href="brg-prototype-extra-data-density.html" name="" title="Density">Density</a>
                          </li>
                          <li>
                              <a href="brg-prototype-extra-data-other.html" name="" title="Other Settings">Other Settings</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <a href="brg-terrain-detail-override.html" name="" title="BRG Terrain Detail Override">BRG Terrain Detail Override</a>
                </li>
                <li>
                    <a href="brg-camera-settings.html" name="" title="BRG Camera Settings">BRG Camera Settings</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>
