* {
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.header {
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  background-color: #656565;
}

.overlay{
  display: inline-flex;
  height: 100%;
  width: 75px;
  align-items: center;
  border-color: transparent;
}

.returnHome{
  display: inline-block;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.alignRight {
  float: right!important;
  height: 100%;
}

.headerButton{
  font-size: 17px;
  padding: 12px;
  width: auto;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: left
}

.main {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Label {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 10px;
  border: 10px;
  font-weight: 500;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.subLabel {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding-bottom: 5px;
  border: 10px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.para {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.return {
  margin: auto;
  width: 75%;
  padding: 12px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width:15%;
}

#milk-instancer {
  display: none;
}