* {
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0;
  padding: 0;
  background-color: #262626;
}

.header {
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 50px;
  text-align: left;
  background-color: #656565;
}

.footer{
  display: inline-block;
  margin: 0px;
  width: 100%;
  height: 35px;
  text-align: left;
  background-color: #656565;
  position: absolute; 
  bottom: 2px; 
}

.headerButtonOverlay{
  display: inline-flex;
  height: 100%;
  width: 75px;
  align-items: center;
  border-color: transparent;
}

.footerButtonOverlay{
  display: inline-flex;
  height: 100%;
  width: 45px;
  align-items: center;
  border-color: transparent;
}

.returnHome{
  display: inline-block;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.footerButton{
  display: inline-block;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.alignRight {
  float: right!important;
  height: 100%;
}

.headerButton{
  font-size: 17px;
  padding: 12px;
  width: auto;
  height: 100%;
  border: none;
  cursor: pointer;
  text-align: left
}

.contentArea{
  display: flex;
  flex-flow: column;
  overflow: auto;
  height: calc(100% - 85px);
  position: absolute; 
}

.homeSegment {
  flex: 1 1 auto;
  background-color: #464646;
  margin: auto;
  width: 75%;
  height: 400px;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

.homeInfo {
  display: inline-block;
  width: 49%;
  height: 100%;
  text-align: center;
  border: none;
  align-items: center;
  vertical-align: top;
}

.fitImage {
  margin: auto;
  height: 100%;
}

.Label {
  position: relative;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 36px;
  justify-content: center;
  align-items: center;
  color: white;
}

.subLabel {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding-bottom: 5px;
  border: 10px;
  font-weight: 500;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.para {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 95%;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.return {
  margin: auto;
  width: 75%;
  padding: 12px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width:15%;
}

#milk-instancer {
  display: none;
}