* {
  margin: 0px;
  padding: 0px;
  background-color: #262626;
}
body{
  margin: 0;
  padding: 0;
}
.text {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 10px;
  border: 10px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header {
  margin: 0px;
  width: 100%;
  text-align: left;
  background-color: #656565;
}

.overlay{
  margin: auto;
  vertical-align: middle
}

.centerImageHelper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.returnHome{
  background-color: #656565;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.label{
  display: block;
}

.alignRight {
  float: right!important;
}



.headerButton{
  font-size: 17px;
  padding: 12px;
  width: auto;
  height: 50px;
  background-color: #656565;
  border: none;
  cursor: pointer;
  text-align: left
}

.main {
  margin: auto;
  width: 75%;
  text-align: center
}

.mini {
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
  padding: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.return {
  margin: auto;
  width: 75%;
  padding: 12px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width:15%;
}

#milk-instancer {
  display: none;
}